.logoArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.logo{
    height: 8vh;
}

.canvasBtn{
    width: 100%;
    height: 10vh;
    border-top-style: solid;
    border-radius: 0px;
    border-width: 0.3vw;
    border-color: #1b1b1b;
    font-weight: bold;
}

.canvasBtnActive{
    width: 100%;
    height: 10vh;
    border-top-style: solid;
    border-radius: 0px;
    border-width: 0.3vw;
    border-color: #1b1b1b;
    background-color: #fc6e20;
    font-weight: bold;
}

.canvasBtn:hover{
    width: 100%;
    height: 10vh;
    border-top-style: solid;
    border-radius: 0px;
    border-width: 0.3vw;
    background-color: #f2f2f2;
    color: #3f3f3f;
    font-weight: bold;
}

.canvasBtnActive:hover{
    width: 100%;
    height: 10vh;
    border-top-style: solid;
    border-radius: 0px;
    border-width: 0.3vw;
    background-color: #f2f2f2;
    color: #3f3f3f;
    font-weight: bold;
}