.canvasSearch {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 10vh 5vh;
  align-items: center;
}

.title{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

.searchForm{
  justify-self: right;
  color: #323232;
  margin: 1%;
  padding-left: 0.7vw;
  height: 70%;
  width: 85%;
  border-radius: 1vh;
  border-style: solid;
  border-width: 0.3vh;
  border-color: #323232;
  background-color: #f2f2f2;
}

.searchBtn{
  justify-self: left;
  height: 80%;
  width: 90%;
  margin: 0;
}